<!-- panel left -->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true">

    <div class='nd2-sidepanel-profile wow fadeInDown'>
        <img class='profile-background' src="//lorempixel.com/400/200/abstract/2/"/>
        <div class="row">
            <div class='col-xs-4 center-xs'>
                <div class='box'>
                    <img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/"/>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='box profile-text'>
                    <strong>경기도 박물관</strong>
                    <span class='subline'>의복 part</span>
                </div>
            </div>
        </div>
    </div>


    <ul data-role="listview" data-inset="false">
        <li data-role="list-divider">경기도박물관 관리자 메뉴</li>
    </ul>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>1. 공지사항</h3>
        <ul data-role="listview" data-inset="false" data-icon="false">
            <li><a href="../../examples/elements/text.html" data-ajax='false' data-icon="false">Test Elements</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>2. 앱 이용안내</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/app/views/examples/extended/tabs.html" data-ajax='false'>Tabs</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>3. 앱 정보</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/app/views/examples/extended/tabs.html" data-ajax='false'>Tabs</a></li>
        </ul>
    </div>
    <ul data-role="listview" data-inset="false">
        <li data-role="list-divider">경기도 박물관 사용자 메뉴</li>
    </ul>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>4. 내가 좋아요한 유물</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/app/views/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>유물 List</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>5. 사용자설정(일반/유아)</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/app/views/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>일반용</a></li>
            <li><a href="/app/views/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>유아용</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d"
         data-iconpos="right">
        <h3>6. 차트( 좋아요 순위 / Today )</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/app/views/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>유뮬 좋아요 순위</a></li>
            <li><a href="/app/views/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>Today ( 오늘의 방문자 )</a></li>
        </ul>
    </div>
</div>
<!-- /panel left -->
